<div ng-app="myApp" ng-controller="myCtrl">
      <nav id='header'>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" onclick="change()">
              <span class="sr-only">Toggle navigation</span>
              <img src="http://ejerzyk.github.io/img/down-arrows.png" style="width: 20px;" id="arrow">
            </button>
        </div>
        <div class="navbar-center navbar-brand" ng-bind="name"></div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ng-mouseover="name = home;" ng-mouseleave="name = empty;"><a href="http://casten4congress.github.io"><img src="http://ejerzyk.github.io/img/computer-01.svg" class="icon"></a></li>
              <!-- <li ng-mouseover="name = projects;" ng-mouseleave="name = empty;"><a href="http://ejerzyk.github.io/projects.html"><img src="http://ejerzyk.github.io/img/projects.svg" class="icon"></a></li> -->
                <!-- <li ng-mouseover="name = resume;" ng-mouseleave="name = empty;"><a href="http://emmajerzyk.com/ComputerResume.pdf"><img src="http://ejerzyk.github.io/img/resume.svg" class="icon"></a></li> -->
                <!-- <li ng-mouseover="name = herald;" ng-mouseleave="name = empty;"><a href="http://www.browndailyherald.com/author/emmajerzyk/"><img src="http://ejerzyk.github.io/img/herald.svg" class="icon"></a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li ng-mouseover="name = blog;" ng-mouseleave="name = empty;"><a href="https://emmajerzyk.wordpress.com/"><img src="http://ejerzyk.github.io/img/wordpress.png" class="icon"></a></li> -->
                <!-- <li ng-mouseover="name = twitter;" ng-mouseleave="name = empty;"><a href="https://twitter.com/ejerzyk"><img src="http://ejerzyk.github.io/img/twitter.png" class="icon"></a></li> -->
                <!-- <li ng-mouseover="name = fb;" ng-mouseleave="name = empty;"><a href="https://www.facebook.com/ejerzyk"><img src="http://ejerzyk.github.io/img/facebook.png" class="icon"></a></li> -->
                <!-- <li ng-mouseover="name = insta;" ng-mouseleave="name = empty;"><a href="https://instagram.com/ejerzyk/"><img src="http://ejerzyk.github.io/img/instagram.png" class="icon"></a></li> -->
            </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    </div>
    <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.name = "";
        $scope.empty = "";
        $scope.projects = "projects";
        $scope.resume = "resume";
        $scope.herald = "the brown daily herald";
        $scope.blog = "blog";
        $scope.twitter = "twitter";
        $scope.fb = "fb";
        $scope.insta = "insta";
        $scope.home = "home";
        $scope.iarrow = "http://ejerzyk.github.io/img/down-arrows.png"
    });
    function change() {
      var element = document.getElementById("arrow");
      element.src = element.bln ? "http://ejerzyk.github.io/img/down-arrows.png" : "http://ejerzyk.github.io/img/arrows-26.svg";
      element.bln = !element.bln;  /* assigns opposite boolean value always */
    }
    </script>