<div ng-app="myApp" ng-controller="myCtrl">
      <nav id='header'>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" onclick="change()">
              <span class="sr-only">Toggle navigation</span>
              <img src="https://casten4congress.github.io/img/down-arrows.png" style="width: 20px;" id="arrow">
            </button>
        </div>
        <div class="navbar-center navbar-brand" ng-bind="name"></div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ng-mouseover="name = home;" ng-mouseleave="name = empty;"><a href="https://casten4congress.github.io"><img src="https://casten4congress.github.io/img/computer-01.svg" class="icon"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    </div>
    <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.name = "";
        $scope.empty = "";
        $scope.home = "home";
        $scope.iarrow = "https://casten4congress.github.io/img/down-arrows.png"
    });
    function change() {
      var element = document.getElementById("arrow");
      element.src = element.bln ? "https://casten4congress.github.io/img/down-arrows.png" : "https://casten4congress.github.io/img/arrows-26.svg";
      element.bln = !element.bln;  /* assigns opposite boolean value always */
    }
    </script>