---
layout: default
title: Projects
---
<style>
	a {
		color: #404040;
	}
	h3 {
		text-align: center;
	}
	div.col-md-11 {
		margin: 40px 5px 5px 5px;
		background-color: #dbdbdb;
		border-radius: 5px;
		/*border-width: 0px;*/
	}
	div.col-md-11:hover {
		background-color: #ab8082;
		/*border-width: 3px;
		border-color: #ab8082;*/
	}
	img.thumbnail {
		max-width: 100%;
		margin-top: 10px;
	}
	.jumbotron {
		text-align: center;
	}
</style>
<div class="jumbotron" class="clearfix">
	<h1>Projects</h1>
	~ <a href="https://github.com/ejerzyk"><img src="img/github.png" class="icon"></a> ~
</div>
{% for num in (0...3) %}
<div class="col-md-3">
	{% for project in site.data.projects %}
		{% assign indexloop = forloop.index | minus: 1 | modulo: 4%}
		{% if indexloop == num %}
		<a href={{ project.href }}>
			<div class="col-md-11">
				<img src="{{ project.imgsrc }}" class="thumbnail">
				<h3>{{ project.name }}</h3>
			</div>
		</a>
		{% endif %}
	{% endfor %}
</div>
{% endfor %}