<!DOCTYPE html>
<meta charset='utf-8'>
<html lang="en-US">
  <head>
    {% include head.html %}
    <title> {{ page.food_type }} wines </title>
  </head>
  <body>
<!-- -->
	<link rel="stylesheet" href="bootstrap-slider/css/bootstrap-slider.css">
	<script src="bootstrap-slider/js/bootstrap-slider.js"></script>
	<style>
		div.sidebar {
			height: 100%;
			min-width: 25%;
			position: fixed;
			background-color: #56827c;
			left: 0;
			top: 0;
			padding: 10px;
			display: block;
		}
		div.sidebar > h3, input {
			left: 10px;
		}
		#price .slider-selection {
			background: #457069;
		}
		.rangeLabelLeft {
			display: inline-block;
			margin-right: 15px;
		}
		.rangeLabelRight {
			display: inline-block;
			margin-left: 15px;
		}
		nav {
			background-color: #d4bdbf;
		}
		.icon {
			height: 50px;
		}
		.navbar-brand {
			font-size: 24px;
		}
		div#results {
			left: 300px;
			top: 80px;
			background-color: #e7f38b;
			display: block;
			width: 75%;
			min-height: 1000px;
			height: 100%;
			float: right;
		}
		div.tile {
			display: block;
			border-radius: 5px;
		}
	</style>

		<div class="sidebar">
			<form action="">
				<h3>Type</h3>
				<input type="checkbox" name="Red" checked> Red<br>
				<input type="checkbox" name="White" checked> White<br>
				<input type="checkbox" name="Rose" checked> Rose<br>
				<input type="checkbox" name="Sparkling" checked> Sparkling<br>
				<input type="checkbox" name="Sake" checked> Sake<br>
				<input type="checkbox" name="Dessert" checked> Dessert<br>
				<h3>Style</h3>
				<input type="checkbox" name="LightAndFruity" checked> Red - Light &amp; Fruity<br>
				<input type="checkbox" name="SmoothAndSupple" checked> Red - Smooth &amp; Supple<br>
				<input type="checkbox" name="EarthyAndSpicy" checked> Red - Earthy &amp; Spicy<br>
				<input type="checkbox" name="BigAndBold" checked> Red - Big &amp; Bold<br>
				<input type="checkbox" name="LightAndCrisp" checked> White - Fruity &amp; Smooth<br>
				<input type="checkbox" name="FruityAndSmooth" checked> White - Fruity &amp; Smooth<br>
				<input type="checkbox" name="RichAndCreamy" checked> White - Rich &amp; Creamy<br>
				<input type="checkbox" name="Sweet" checked> Sweet<br>
				<h3>Price</h3>
				<b class="rangeLabelLeft">$0</b><input id="price" type="text" class="span2" value="price" data-slider-min="0" data-slider-max="300" data-slider-step="5" data-slider-value="[0,300]"/><b class="rangeLabelRight">$300</b><br>
				<h3>Rating</h3>
				<b class="rangeLabelLeft">0</b><input id="rating" type="text" class="span2" value="rating" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="[0,100]"/><b class="rangeLabelRight">100</b>
			</form>
		</div>
		<div ng-app="myApp" ng-controller="myCtrl">
			<nav>
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" onclick="change()">
		              <span class="sr-only">Toggle navigation</span>
		              <img src="http://ejerzyk.github.io/img/down-arrows.png" style="width: 20px;" id="arrow">
		            </button>
		        </div>
        		<div class="navbar-center navbar-brand"><span ng-bind="name"></span></div>

        		<!-- Collect the nav links, forms, and other content for toggling -->
		        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		            <ul class="nav navbar-nav navbar-right" id="righticons"></ul>
		        </div><!-- /.navbar-collapse -->
      		</nav>
      	</div>
      <div id="results">
      </div>
	<script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope) {
		    $scope.name = "{{ page.food_type }}";
		    $scope.food_type = "{{ page.food_type }}";
		    $scope.empty = "";
		    $scope.meat = "meat";
		    $scope.cheese = "cheese";
		    $scope.dessert = "dessert";
		    $scope.grains = "grains";
		    $scope.poultry = "poultry";
		    $scope.seafood = "seafood";
		});

		function change() {
		  var element = document.getElementById("arrow");
		  element.src = element.bln ? "http://ejerzyk.github.io/img/down-arrows.png" : "http://ejerzyk.github.io/img/arrows-26.svg";
		  element.bln = !element.bln;  /* assigns opposite boolean value always */
		}

		function data_handler(transaction, results) {
			// var results = document.getElementById("results")
			// var len = results.rows.length;
			// console.log(len);
			console.log(results);
			// for (var i = 0; i < results.rows.length; i++) {
			// 	var row = results.rows.item(i);
			// 	var div = document.createElement('DIV');
			// 	var name = document.createElement('p');
			// 	var price = document.createElement('p');
			// 	div.className = "col-md-3";
			// 	name.innerHTML = row['name'];
			// 	price.innerHTML = row['price'];
			// 	div.appendChild(price);
			// 	div.appendChild(name);
			// 	results.appendChild(div);
			// 	if ((i % 3) == 0) {
			// 		results.appendChild(document.createElement('BR'));
			// 	}
			// };
		}

		function error_handler(transaction, error) {
			// error.message is a human-readable string.
			// error.code is a numeric error code
			alert('Oops.  Error was '+error.message+' (Code '+error.code+')');
			 
			// Handle errors here
			var we_think_this_error_is_fatal = true;
			if (we_think_this_error_is_fatal) return true;
			return false;
		}

		var price_slider = new Slider('#price', {tooltip: 'show'});
		var rating_slider = new Slider('#rating', {tooltip: 'show'});

		var all_food_types = {"meat" : {"img" : "https://cdn.icons8.com/iOS7/PNG/100/Food/rack_of_lamb-100.png", "url" : "#"}, "cheese" : {"img": "https://cdn.icons8.com/iOS7/PNG/100/Food/cheese-100.png", "url": "#"}, "dessert" : {"img" : "https://cdn.icons8.com/iOS7/PNG/100/Food/cupcake-100.png", "url": "#"}, "grains" : {"img" : "https://cdn.icons8.com/iOS7/PNG/100/Food/carbohydrates-100.png", "url": "#"}, "poultry" : {"img" : "https://cdn.icons8.com/iOS7/PNG/100/Animals/chicken-100.png", "url" : "#"}, "seafood": {"img" : "https://cdn.icons8.com/iOS7/PNG/100/Animals/fish-100.png", "url": "#"}};

		var food_types_for_button = {};

		for (var food_type in all_food_types) {
			if (food_type != "{{ page.food_type }}") {
				food_types_for_button[food_type] = all_food_types[food_type];
			};
		};

		var nav_bar_icon = document.getElementById("righticons");

		for (var food_type in food_types_for_button) {
			console.log(food_type);
			var icon = document.createElement("LI");
			var a = document.createElement("A");
			var img = document.createElement("IMG");

			a.href = food_types_for_button[food_type]['url'];
			
			img.src = food_types_for_button[food_type]['img'];
			img.className = "icon";

			icon.setAttribute("ng-mouseover", "name = " + food_type + ";");
			icon.setAttribute("ng-mouseleave", "name = food_type;");

			a.appendChild(img);
			icon.appendChild(a);
			nav_bar_icon.appendChild(icon);
		};
		console.log('opening db ' + '{{ page.food_type }}' + '.sqlite3');

		try {
		    if (!window.openDatabase) {
		        alert('not supported');
		    } else {
		        var shortName = '{{ page.food_type }}' + ".sqlite3";
		        var version = '1.0';
		        var displayName = '{{ page.food_type }}' + ' Database';
		        var maxSize = 5 * 1024 * 1024; // in bytes
		        var db = openDatabase(shortName, version, displayName, maxSize);
		 
		        // You should have a database instance in db.
		    }
		} catch(e) {
		    // Error handling code goes here.
		    if (e == 2) {
		        // Version number mismatch.
		        alert("Invalid database version.");
		    } else {
		        alert("Unknown error "+e+".");
		    }
		}
		 
		// alert("Database is: "+db);

		// var db = openDatabase('{{ page.food_type }}' + '.sqlite3', '1.0', 'wines database', 2.5 * 1024 * 1024);
		console.log(db);
		console.log('opened db ' + '{{ page.food_type }}' + '.sqlite3');
		db.transaction(function(tx) {
			tx.executeSql('select * from sqlite_master WHERE type=\'table\'', [], data_handler, error_handler);
		});
		console.log('executed sql call');

		

	</script>
<!--  -->
  </body>
</html>